# Cấu hình SMTP Email cho SendMail API
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Điền Email Gmail và Mật khẩu ứng dụng (App Password 16 ký tự)
EMAIL_HOST_USER=service.system@gmail.com
EMAIL_HOST_PASSWORD=xxxx xxxx xxxx xxxx
DEFAULT_FROM_EMAIL=service.system@gmail.com

# Tên hiển thị người gửi mặc định
EMAIL_DISPLAY_NAME=System Email Notification Service

# API Key xác thực cho kết nối Server-to-Server (Truyền qua Header X-API-KEY)
SENDMAIL_API_KEY=sendmail-secret-api-key-2026
